.button {
    padding: 0 0.6rem;
    margin: 0.2rem;
    margin-left: 0;
    display: flex;
    align-items: center;
    font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
    --button-border-color: var(--ifm-button-color);
    --button-color: var(--ifm-button-color);
    --button-background-color: var(--ifm-button-background-color);
    border-color: var(--button-border-color);
    background: var(--button-background-color);
    color: var(--button-color);
    &.link {
        width: min-content;
        padding-top: 0.02rem;
        padding-bottom: 0.02rem;
    }
    &.soloIcon {
        padding: 0 0.2rem;
    }
    &.soloText {
        padding: calc(0.2rem - 1px) 0.4rem;
    }
    .icon {    
        transform: translateY(10%);
    }
    &.iconRight {
        padding-right: 0.2rem;
        .inlineIcon {
            margin-left: 0;
            padding-left: 0.2rem;
        }
        .border {
            padding-right: 0.4rem;
            border-right: 1px solid var(--ifm-color-primary);
        }
    }
    &.iconLeft {
        padding-left: 0.2rem;
        .inlineIcon {
            margin-right: 0rem;
            padding-right: 0.2rem;
        }
        .border {
            padding-left: 0.4rem;
            border-left: 1px solid var(--ifm-color-primary);
        }
    }
    &.save {
        --button-border-color: var(--ifm-color-success);
    }
    &.disabled {
        opacity: 0.5;
        &.iconRight {
            .border {
                border-right-color: var(--ifm-color-disabled);
            }
        }
        &.iconLeft {
            .border {
                border-left-color: var(--ifm-color-disabled);
            }
        }
        --button-border-color: var(--ifm-color-disabled);
    }

    &:hover {
        &.iconLeft {
            .border {
                border-left-color: var(--ifm-color-white);
            }
        }
        &.iconRight {
            .border {
                border-right-color: var(--ifm-color-white);
            }
        }
    }
    
}


.delete {
    display: flex;
    .button {
        --button-border-color: var(--ifm-color-danger);
    }
    &.expanded {
        .button {
            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin-right: 0;
            }
            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                --button-border-color: var(--ifm-color-danger);
                margin-left: 0;
            }
        }
    }
}