.diffViewer {
    .diff {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        justify-content: center;
        .event {
            flex-basis: 20em;
            max-width: 40em;
            flex-grow: 1;
        }
    }
}
