.button {
    line-height: 1;
    margin: 0.5rem;
    cursor: pointer;
    color: var(--ifm-color-primary);
    background: var(--ifm-color-content-inverse);
    border: 1px solid var(--ifm-color-primary);
    border-radius: var(--ifm-badge-border-radius);
    &:hover {
        background: var(--ifm-color-primary);
        color: var(--ifm-color-content-inverse);
    }
}