.audience {
    max-width: 375px;
    h4 {
        margin-bottom: 0.3rem;
    }
    .flex {
        display: flex;
        max-width: 100%;
        gap: 0.5em;
        justify-content: flex-start;
        align-items: center;
    }
    .affects {
        
        :global(.button-group) {
            --ifm-button-group-spacing: 0;
            margin: 0.1rem;
            align-items: stretch;
            .button {
                margin: 0rem;
            }
        }
    }
    .tabs {
        --ifm-tabs-padding-vertical: 0.1em;
        --ifm-tabs-padding-horizontal: 0.1em;
        .touched {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: calc(50% - 2px);
                bottom: 0;
                width: 4px;
                height: 4px;
                background: var(--ifm-tabs-color-active);
                border-radius: 50%;
            }
        }
    }
    .select {
        max-width: 100%;
    }
    

    .options {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
        gap: 0.5em;

        .optionsBtn {
            svg {
                transition: transform 0.25s ease-in-out;
            }
            &.showOptions {
                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.toggle {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5em;
    // .label {
    //     font-weight: bold;
    // }
}   