.audience {
    --ifm-leading: 0.5rem;
    h4 {
        margin-bottom: 0.3rem;
    }
    .flex {
        display: flex;
        max-width: 100%;
        gap: 0.5em;
        justify-content: flex-start;
        align-items: center;
    }
    .container {
        margin-top: 0.5rem;
    }
    .affects {
        :global(.button-group) {
            --ifm-button-group-spacing: 0;
            margin: 0.1rem;
            align-items: stretch;
            .button {
                margin: 0rem;
            }
        }
    }
    .tabs {
        --ifm-tabs-padding-vertical: 0.1em;
        --ifm-tabs-padding-horizontal: 0.1em;
        .touched {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: calc(50% - 2px);
                bottom: 0;
                width: 4px;
                height: 4px;
                background: var(--ifm-tabs-color-active);
                border-radius: 50%;
            }
        }
    }
    .select {
        max-width: 100%;
    }

    .options {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
        gap: 0.5em;

        .optionsBtn {
            svg {
                transition: transform 0.25s ease-in-out;
            }
            &.showOptions {
                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.toggle {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5em;
    justify-content: space-between;
}

.error {
    border: 1px dashed red;
    border-radius: var(--ifm-global-radius);
}
.errorMessage {
    color: red;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}

.infoBox {
    margin-top: 0.5rem;
    --ifm-alert-padding-vertical: 0.15rem;
    --ifm-alert-padding-horizontal: 0.5rem;
}
