.eventPicker {
    display: flex;
    align-items: center;
    gap: 0.2em;
    justify-content: flex-end;
    .label {
        .labelBadge {
            padding: 0.2rem 0.6rem;
            margin: 0.2rem 0;
            text-overflow: ellipsis;
            width: 12em;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            .currentBadge {
                margin-left: auto;
            }
        }
        .dropdown {
            cursor: pointer;
            padding: 0;
            padding-right: 0.6rem;
            display: flex;
            align-items: center;
            max-width: 11em;
            line-height: 1.5cap;
        }
        .dropdownMenu {
            z-index: calc(var(--ifm-z-index-dropdown) + 5);
            max-height: 12em;
            max-width: 10em;
        }
    }
}
