.card {
    box-shadow: var(--ifm-global-shadow-md);
    margin-bottom: 1rem;
    .bulk {
        margin-bottom: 0.5rem;
        .alert {
            margin-bottom: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            overflow-x: auto;
        }
    }
    margin-left: 0rem;
    margin-right: 0rem;
}
:global(.event-grid) {
    border-radius: var(--ifm-global-radius);
}
.imports {
    margin-left: 0rem;
    margin-right: 0rem;
    .imported {
        .noMarginScrollContainer {
            margin-left: -1rem;
            margin-right: -1rem;
            max-width: calc(100% + 2rem)
        }
    }
}