.semesterSelector {
    display: flex;
    align-items: center;
    .label {
        .labelBadge {
            padding: 0.2rem 0;
            margin: 0.2rem 0;
        }
        .dropdown {
            cursor: pointer;
        }
        .dropdownMenu {
            z-index: calc(var(--ifm-z-index-dropdown) + 5);
        }
    }
}
