.container {
    .stacked {
        position: relative;
        .bottomRight {
            position: absolute;
            right: 0px;
            bottom: 6px;
        }
    }
    .icon {
        transform: translateY(10%);
    }
    dl.example {
        margin: 0;
        dd,
        dt {
            padding-bottom: 0;
            padding-left: 0;
        }
        .scenario {
            font-weight: var(--ifm-font-weight-normal);
            font-size: 90%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .description {
            font-style: italic;
            font-weight: var(--ifm-font-weight-light);
            color: var(--ifm-color-emphasis-700);
            font-size: 90%;
            flex-grow: 1;
        }
    }
    .selector {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }
}
