.details {
    padding-bottom: calc(var(--ifm-alert-padding-vertical) - 0.4rem);
    padding-top: calc(var(--ifm-alert-padding-vertical) - 0.4rem);
    > summary::before {
        top: unset;
    }
}
.summary {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0;
    .spacer {
        flex: 1;
    }
    .semester {
        padding: calc(0.3rem - 0.5px) 0.4rem;
        .small {
            font-weight: var(--ifm-font-weight-light);
        }
    }
    .filename {
        font-style: italic;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        margin-left: 2em;
        width: 15em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.job {
    margin: 0 -1em;
    margin-bottom: -0.6em;
    &[open] {
        padding: 0;
        summary {
            padding: 1em;
            padding-left: 2em;
            padding-bottom: 0em;
            &::before {
                top: 1.45em;
                left: 1em;
            }
        }
    }
}
.bulkActions {
    margin: 0 var(--ifm-card-horizontal-spacing);
}
