.scroll {
    position: relative;
    max-width: 100%;
    max-height: 96vh;
    overflow-x: auto;
    .grid {
        display: grid;
        grid-template-columns: 
            [kw] 2.5em 
            [day] 3em
            [description] minmax(10em, 2fr)
            [startDate] 5.5em
            [startTime] 4em
            [endDate] 5.5em
            [endTime] 4em
            [location] minmax(6em, 10em)
            [departments] minmax(4em, 10em)
            [classes] minmax(4em, 8em)
            [descriptionLong] minmax(10em, 3fr)
            [actions] max-content;
        grid-template-rows: auto;
        grid-area: auto / auto / auto / auto;
        .cell {
            padding: 2px 4px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background: var(--ifm-color-emphasis-100);
            &.odd {
              background-color: var(--ifm-color-emphasis-0);
            }
            &.header {
                position: sticky;
                top: 0; // var(--ifm-navbar-height);
                z-index: 1;
                transition: transform var(--ifm-transition-fast) ease;
                font-weight: bold;
                // &.hiddenNavbar {
                //     transform: translate3d(0, calc(-1 * var(--ifm-navbar-height)), 0);
                // }
            }
        }
        .kw {
            grid-column: kw;
            text-align: end;
        }
        .day {
            grid-column: day;
            &::after {
                content: ".";
            }
        }
        .startDate {
            grid-column: startDate;
            text-align: end;
        }
        .startTime {
            grid-column: startTime;
            // text-align: end;
        }
        .endDate {
            grid-column: endDate;
            text-align: end;
        }
        .endTime {
            grid-column: endTime;
            // text-align: end;
        }
        .description {
            grid-column: description;
        }
        .location {
            grid-column: location;
        }
        .departments {
            grid-column: departments;
            display: flex;
            align-items: baseline;
        }
        .classes {
            grid-column: classes;
            display: flex;
            align-items: baseline;
        }
        .descriptionLong {
            grid-column: descriptionLong;
        }
        .actions {
            grid-column: actions;
        }
    }
}

.gbsl {
    --ifm-badge-background-color: var(--gym);
    --ifm-badge-border-color: var(--gym-border);
    --ifm-badge-color: var(--ifm-color-white);
}
.fms {
    --ifm-badge-background-color: var(--fms);
    --ifm-badge-border-color: var(--fms-border);
    --ifm-badge-color: var(--ifm-color-white);
}
.wms {
    --ifm-badge-background-color: var(--wms);
    --ifm-badge-border-color: var(--wms-border);
    --ifm-badge-color: var(--ifm-color-white);
}