.fullscreenContainer {
    background: var(--ifm-color-primary-contrast-background);
}
.editable {
    min-height: min(55em, 95vh);
}
.scroll {
    --header-shadow-blur: 20px;
    --header-shadow: 0 3px var(--header-shadow-blur) rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 100%;
    max-height: 96vh;
    width: fit-content;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    display: grid;
    grid-auto-flow: column dense;
    .cell {
        padding: 0 0.25em;
        &.deleted {
            opacity: 0.5;
            text-decoration: line-through;
        }
        .content {
            // margin: 0.25em 0.5em;
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            &.collapsed {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        background-color: var(--ifm-color-emphasis-0);
        &.odd {
            background: var(--ifm-color-emphasis-100);
        }
        &.header {
            position: sticky;
            top: 0;
            z-index: calc(var(--ifm-z-index-dropdown) + 2);
            transition: transform var(--ifm-transition-fast) ease;
            font-weight: bold;
            box-shadow: var(--header-shadow);//var(--ifm-global-shadow-md);
            // clip-path to remove shadow on some sides: inset(Tpx Rpx Bpx Lpx);
            clip-path: inset(0px 0px calc(-1 * var(--header-shadow-blur)) 0px);
            &.active {
                background: var(--ifm-color-primary-lightest);
            }
            &.sortable {
                cursor: pointer;
                &:hover {
                    background: var(--ifm-color-emphasis-200);
                    user-select: none;
                    -webkit-user-select: none;
                    &.active {
                        background: var(--ifm-color-primary-lighter);
                    }
                }
            }
            .content {
                margin: 0;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &.state {
                    justify-content: center;
                }
                &.actions {
                    justify-content: center;
                }
            }
            &.fixed {
                padding: 0;
            }
        }
    }
    .group {
        color: var(--ifm-color-primary-lighter);
        background: var(--ifm-color-secondary-darker);
        cursor: pointer;
        display: flex;
        font-size: calc(.875rem * var(--ifm-button-size-multiplier));
        font-weight: var(--ifm-font-weight-bold);
        gap: 1em;
        line-height: 1;
        margin: 0;
        padding: 0 1em;
        position: sticky;
        top: 32px;
        z-index: 1;
        &:hover {
            background: var(--ifm-color-secondary-darkest);
        }
    }
}

@media screen and (min-width: 768px) {
    .scroll {
        .grid {
            .actions {
                position: sticky;
                right: 0;
                border-left: 1px solid var(--ifm-color-primary);
                box-shadow: var(--header-shadow);
                // clip-path to remove shadow on some sides: inset(Tpx Rpx Bpx Lpx);
                clip-path: inset(0px 0px 0px calc(-1 * var(--header-shadow-blur)));
                &.header {
                    clip-path: inset(0px 0px calc(-1 * var(--header-shadow-blur)) calc(-1 * var(--header-shadow-blur)));

                }
            }
            .day {
                .expand {
                    display: none;
                }
            }
        }
    }
}

[data-theme='dark'] {
    .scroll {
        --header-shadow: 0 3px var(--header-shadow-blur) rgba(255, 255, 255, 0.1);
        .grid {
            .actions {
                border-color: var(--ifm-color-primary-darkest);
            }
            .group {
                color: #8d3599;
            }
            .cell {
                &.header {
                    &.active {
                        background: var(--ifm-color-primary-darkest);
                        &:hover {
                            background: var(--ifm-color-primary-darker);
                        }
                    }
                }
            }
        }
    }
}