.fullscreenContainer {
    background: var(--ifm-color-primary-contrast-background);
}

.scroll {
    --header-shadow-blur: 20px;
    --header-shadow: 0 3px var(--header-shadow-blur) rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 100%;
    max-height: 96vh;
    width: fit-content;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    &.editable {
        min-height: min(55em, 95vh);
    }
}

.grid {
    display: grid;
    grid-template-columns: var(--event-grid-template-columns);
    grid-auto-flow: column dense;
    
    
    &.overview {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: center;
        .cell {
            display: none;
        }
        .eventGroup {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            height: 6em;
            width: 6em;
            border-radius: var(--ifm-global-radius);
        }
    }
}

.cell {
    padding: 2px 4px;
    background: var(--ifm-color-emphasis-100);
    &.collapsed {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &.odd {
      background-color: var(--ifm-color-emphasis-0);
    }
    &.header {
        position: sticky;
        top: 0;
        z-index: 1;
        transition: transform var(--ifm-transition-fast) ease;
        font-weight: bold;
        box-shadow: var(--header-shadow);//var(--ifm-global-shadow-md);
        // clip-path to remove shadow on some sides: inset(Tpx Rpx Bpx Lpx);
        clip-path: inset(0px 0px calc(-1 * var(--header-shadow-blur)) 0px);
    }
}
.error {
    border: 1px dashed red;
    border-radius: var(--ifm-global-radius);
}
.errorMessage {
    color: red;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}
.eventGroup {
    grid-column-start: gridStart;
    grid-column-end: gridEnd;
    display: flex;
    gap: 1em;
    background-color: var(--ifm-color-secondary-darker);
    color: var(--ifm-color-primary-lighter);
    line-height: 1;
    padding: 0 1em;
    font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
    font-weight: var(--ifm-font-weight-bold);
    padding: 0 1em;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 31px;
    z-index: 1;
    cursor: pointer;
    &.active {
        border: 2px solid var(--ifm-color-primary);
    }
    &.currentWeek {
        background-color: var(--ifm-color-primary-lightest);
    }
    &:hover {
        background-color: var(--ifm-color-secondary-darkest);
    }
}
.select {
    grid-column: select;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 2.5em;
}
.isValid {
    grid-column: isValid;
    max-width: 2.5em;
    align-items: center;
    justify-content: center;
    display: flex;
}
.state {
    grid-column: isValid;
    max-width: 2.5em;
    align-items: center;
    justify-content: center;
    display: flex;
}
.kw {
    grid-column: kw;
    text-align: end;
    max-width: 2.5em;
}
.author {
    grid-column: author;
}
.day {
    grid-column: day;
    max-width: 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .value {
        &::after {
            content: ".";
        }
    }
}
.startDate {
    grid-column: startDate;
    text-align: end;
    max-width: 7em;
    // font-family: monospace;
}
.startTime {
    grid-column: startTime;
    max-width: 4.5em;
    &.isAllDay {
        color: transparent;
    }
    // font-weight: bold;
    // font-family: monospace;
}
.endDate {
    grid-column: endDate;
    text-align: end;
    max-width: 7em;
    min-width: 100%;
    &.onOneDay {
        color: transparent;
        font-size: 0;
    }
    // font-family: monospace;
}
.endTime {
    grid-column: endTime;
    max-width: 4.5em;
    &.isAllDay {
        color: transparent;
    }
    // font-weight: bold;
    // font-family: monospace;
}
.dateTime {
    input {
        max-width: 100%;
    }
    &.start {
        grid-column-start: startDate;
        grid-column-end: startEnd;
    }
    &.end {
        grid-column-start: endDate;
        grid-column-end: endEnd;
    }
}
.description {
    grid-column: description;
    max-width: min(22em, 80vw);
    min-width: 16em;
}
.location {
    grid-column: location;
    max-width: 10em;
}
.departments {
    grid-column: departments;
    max-width: 7em;
    &.editGrid {
        max-width: inherit;
    }
}

.tags {
    display: flex;
    overflow-x: auto;
    align-items: baseline;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.expanded {
    .tags {
        overflow: hidden;
        flex-wrap: wrap;
    }
}
.classes {
    grid-column: classes;
    max-width: 8em;
    &.editGrid {
        max-width: inherit;
    }
}
.audience {
    grid-column-start: departments;
    grid-column-end: classesEnd;
    overflow: visible;
    &.cell {
        overflow: visible;
    }
    :global(.dropdown) {
        max-width: 100%;
    }
    :global(.button) {
        overflow: hidden;
    }
}
.descriptionLong {
    grid-column: descriptionLong;
    max-width: min(28em, 80vw);
    min-width: 20em;
}
.actions {
    grid-column: actions;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .flex {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        transition: transform var(--ifm-transition-fast) ease;
        max-width: 4.5em;
        z-index: calc(var(--ifm-z-index-dropdown) + 1);
    }
    &.header {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
}

.gym,
.fms,
.ecg,
.esc,
.fmpaed,
.msop,
.wms {
    color: var(--ifm-color-white);
}

.gym {
    --ifm-badge-background-color: var(--gym);
    --ifm-badge-border-color: var(--gym-border);
    --ifm-badge-color: var(--ifm-color-white);
}
.ecg,
.fmpaed,
.msop,
.fms {
    --ifm-badge-background-color: var(--fms);
    --ifm-badge-border-color: var(--fms-border);
    --ifm-badge-color: var(--ifm-color-white);
}
.esc,
.wms {
    --ifm-badge-background-color: var(--wms);
    --ifm-badge-border-color: var(--wms-border);
    --ifm-badge-color: var(--ifm-color-white);
}

@media screen and (min-width: 768px) {
    .scroll {
        .grid {
            .actions {
                position: sticky;
                right: 0;
                border-left: 1px solid var(--ifm-color-primary);
                box-shadow: var(--header-shadow);
                // clip-path to remove shadow on some sides: inset(Tpx Rpx Bpx Lpx);
                clip-path: inset(0px 0px 0px calc(-1 * var(--header-shadow-blur)));
                &.header {
                    clip-path: inset(0px 0px calc(-1 * var(--header-shadow-blur)) calc(-1 * var(--header-shadow-blur)));

                }
            }
            .day {
                .expand {
                    display: none;
                }
            }
        }
    }
}

[data-theme='dark'] {
    .scroll {
        --header-shadow: 0 3px var(--header-shadow-blur) rgba(255, 255, 255, 0.1);
        .grid {
            .actions {
                border-color: var(--ifm-color-primary-darkest);
            }
            .eventGroup {
                color: #8d3599;
            }
        }
    }
}