
.select {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 2.5em;
}
.isValid {
    max-width: 2.5em;
    align-items: center;
    justify-content: center;
    display: flex;
}
.state {
    max-width: 10em;
    .flex,
    &.flex {
        display: flex;
    } 
    align-items: center;
    justify-content: center;
}
.kw {
    text-align: end;
    max-width: 2.5em;
}
dd {
    .kw {
        text-align: start;
    }
}
.day {
    max-width: 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .value {
        word-wrap: normal;
        &.abbrev {
            &::after {
                content: ".";
            }
        }
    }
}
.startDate {
    text-align: end;
    max-width: 7em;
    // font-family: monospace;
}
.startTime {
    max-width: 5.1em;
    &.isAllDay {
        color: transparent;
    }
    // font-weight: bold;
    // font-family: monospace;
}
.endDate {
    text-align: end;
    max-width: 7em;
    &.onOneDay {
        color: transparent;
        margin-left: -32px;
        // font-size: 0;
    }
    // font-family: monospace;
}
.endTime {
    max-width: 5.1em;
    &.isAllDay {
        color: transparent;
    }
    // font-weight: bold;
    // font-family: monospace;
}
.dateTime {
    max-width: 11.5em;
    &.start {
        grid-column-start: startDate;
        grid-column-end: startEnd;
    }
    &.end {
        grid-column-start: endDate;
        grid-column-end: endEnd;
    }
    &.view {
        display: flex;
        justify-content: space-between;
        gap: 0.5em;
    }
}
.description {
    max-width: min(22em, 80vw);
}
.location {
    max-width: 10em;
}
.departments {
    max-width: 7em;
    &.editGrid {
        max-width: inherit;
    }
}
.userGroup {
    max-width: 7em;
    &.editGrid {
        max-width: inherit;
    }
}

.tags {
    display: flex;
    gap: 0.1rem;
    overflow-x: auto;
    align-items: baseline;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.expanded {
    .tags {
        overflow: hidden;
        flex-wrap: wrap;
    }
}
.classes {
    max-width: 8em;
    &.editGrid {
        max-width: inherit;
    }
}
.audience {
    grid-column-start: departments;
    grid-column-end: classesEnd;
    overflow: visible;
    &.cell {
        overflow: visible;
    }
    :global(.dropdown) {
        max-width: 100%;
    }
    :global(.button) {
        overflow: hidden;
    }
}
.descriptionLong {
    max-width: min(28em, 80vw);
}
.actions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .flex {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        transition: transform var(--ifm-transition-fast) ease;
        max-width: 4.5em;
        z-index: calc(var(--ifm-z-index-dropdown) + 1);
    }
    &.header {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
}

.error {
    border: 1px dashed red;
    border-radius: var(--ifm-global-radius);
}
.errorMessage {
    color: red;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}
.eventGroup {
    grid-column-start: gridStart;
    grid-column-end: gridEnd;
    display: flex;
    gap: 1em;
    background-color: var(--ifm-color-secondary-darker);
    color: var(--ifm-color-primary-lighter);
    line-height: 1;
    padding: 0 1em;
    font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
    font-weight: var(--ifm-font-weight-bold);
    padding: 0 1em;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 31px;
    z-index: 1;
    cursor: pointer;
    &.active {
        border: 2px solid var(--ifm-color-primary);
    }
    &.currentWeek {
        background-color: var(--ifm-color-primary-lightest);
    }
    &:hover {
        background-color: var(--ifm-color-secondary-darkest);
    }
}