.select {
    align-items: center;
    justify-content: center;
    display: flex;
}
.isValid {
    align-items: center;
    justify-content: center;
    display: flex;
}
.errors {
    color: var(--ifm-color-danger);
}
.warnings {
    color: var(--ifm-color-warning);
}
.infos {
    color: var(--ifm-color-info);
}
.state {
    .flex,
    &.flex {
        display: flex;
    }
    align-items: center;
    justify-content: center;
}
.kw {
    text-align: end;
}
.nr {
    font-family: monospace;
    text-align: end;
    padding-right: 4px;
    line-height: 1.5em;
}
dd {
    .kw {
        text-align: start;
    }
}
.day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .value {
        word-wrap: normal;
        &.abbrev {
            &::after {
                content: '.';
            }
        }
    }
}
.teachingAffected {
    display: flex;
    align-items: baseline;
    gap: 8px;
    cursor: pointer;
    &.center {
        justify-content: space-evenly;
    }
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
    &.iconOnly {
        height: calc(var(--ifm-line-height-base) * 1em);
        align-items: center;
    }
    .teachingAffectedBtn {
        border-width: 0;
        span[class^='icon'] {
            transform: translateY(0);
        }
    }
}
.startDate {
    text-align: end;
}
.startTime {
    width: 2.5em;
    text-align: end;
}
.endDate {
    text-align: end;
    &.onOneDay {
        color: transparent;
        margin-left: -32px;
    }
}
.endTime {
    width: 2.5em;
    text-align: end;
}
.dateTime {
    &.start {
        grid-column-start: startDate;
        grid-column-end: startEnd;
    }
    &.end {
        grid-column-start: endDate;
        grid-column-end: endEnd;
    }
    &.view {
        display: flex;
        justify-content: space-between;
        gap: 0.5em;
    }
    .updatedAt,
    .createdAt {
        display: flex;
        justify-content: space-between;
        gap: 0.5em;
        width: 100%;
        max-width: 6.5em;
        &.dateOnly {
            justify-content: center;
        }
    }
}

.departments {
    &.editGrid {
        max-width: inherit;
    }
}
.userGroup {
    &.editGrid {
        max-width: inherit;
    }
}

.tags {
    display: flex;
    gap: 0.1rem;
    overflow-x: auto;
    align-items: baseline;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.badge {
    cursor: pointer;
}

.expanded {
    .tags {
        overflow: hidden;
        flex-wrap: wrap;
    }
}
.classes {
    &.editGrid {
        max-width: inherit;
    }
}
.audience {
    grid-column-start: departments;
    grid-column-end: classesEnd;
    overflow: visible;
    &.cell {
        overflow: visible;
    }
    :global(.dropdown) {
        max-width: 100%;
    }
    :global(.button) {
        overflow: hidden;
    }
}
.descriptionLong {
    max-width: min(28em, 80vw);
    .line {
        line-height: 1.2em;
        min-height: 1em;
    }
    &.multiline {
        margin-top: 0.2em;
        margin-bottom: 1em;
    }
}
.actions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .flex {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        transition: transform var(--ifm-transition-fast) ease;
        max-width: 4.5em;
        z-index: calc(var(--ifm-z-index-dropdown) + 1);
    }
    &.header {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
}

.error {
    border: 1px dashed red;
    border-radius: var(--ifm-global-radius);
}
.errorMessage {
    color: red;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
}
.eventGroup {
    grid-column-start: gridStart;
    grid-column-end: gridEnd;
    display: flex;
    gap: 1em;
    background-color: var(--ifm-color-secondary-darker);
    color: var(--ifm-color-primary-lighter);
    line-height: 1;
    padding: 0 1em;
    font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
    font-weight: var(--ifm-font-weight-bold);
    padding: 0 1em;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 31px;
    z-index: 1;
    cursor: pointer;
    &.active {
        border: 2px solid var(--ifm-color-primary);
    }
    &.currentWeek {
        background-color: var(--ifm-color-primary-lightest);
    }
    &:hover {
        background-color: var(--ifm-color-secondary-darkest);
    }
}
.version {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25em;
}
