.container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    :global .col {
        display: flex;
        align-items: center;
    }
    :global .row {
        margin-bottom: 1.5em;
    }
    .label {
        font-weight: bold;
        text-transform: uppercase;
    }
    
}