.textInput {
    input[type='search']::-webkit-search-cancel-button {
        cursor: pointer;
    }
}

.label {
    font-family: var(--ifm-heading-font-family);
    font-weight: var(--ifm-heading-font-weight);
    font-size: var(--ifm-h4-font-size);
    &.required::after {
        content: ' *';
        color: var(--ifm-color-primary);
    }
    &.dirty::after {
        content: ' *';
        color: var(--ifm-color-warning);
    }
}
