.departmentsOrAudience {
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
    .teachingAffected {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .left {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 1em;
    }
    .right {
        flex-basis: 25em;
        flex-shrink: 0;
        flex-grow: 6;
    }
}
