.section {
    --ifm-section-padding-vertical: 2rem;
    --ifm-section-padding-horizontal: 1rem;
    --ifm-section-margin-horizontal: 2rem;
    --ifm-section-margin-vertical: 2rem;
    padding: var(--ifm-section-padding-vertical) var(--ifm-section-padding-horizontal);
    margin: var(--ifm-section-margin-vertical) var(--ifm-section-margin-horizontal);
    h1:global(.hero__title) {
        font-size: 2rem;
    }
    :global(.hero__subtitle) {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 996px) {
    .section {
        --ifm-section-padding-horizontal: 0.2rem;
        --ifm-section-margin-horizontal: var(--ifm-navbar-padding-horizontal);
    }
}
@media screen and (max-width: 768px) {
    .section {
        --ifm-section-margin-horizontal: 0;
    }
}
