.section {
    padding: 2rem 1rem;
    margin: 2rem;
    h1:global(.hero__title) {
        font-size: 2rem;
    }
    :global(.hero__subtitle) {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 996px) {
    .section {
        padding: 2rem 0.2rem;
        margin: 2rem var(--ifm-navbar-padding-horizontal);
    }
}
@media screen and (max-width: 768px) {
    .section {
        margin: 2rem 0;
    }
}