.tableWrapper {
    position: relative;
    max-height: 94vh;
    overflow-y: auto;
    overflow-anchor: none;
    .table {
        overflow-x: unset;
        overflow-y: unset;
        thead {
            position: sticky;
            // inset-block-start: 0; /* "top" */
            top: 0;
            // height: 55px;
            background-color: #ffffff;
        }
        tbody {
            td {
                max-width: 450px;
                background: #ffffff;
            }
        }
    }
}