.editUser {
    position: relative;
    .body {
        max-height: 80vh;
        overflow-y: auto;
        .delete {
            justify-content: flex-end;
        }
        :global(.card) {
            margin-bottom: 0.5em;
        }
        .password {
            display: flex;
            gap: 0.5em;
            align-items: flex-end;
        }
    }
}
