dl.info {
    margin: 0;
    dd,
    dt {
        padding-bottom: 0;
        padding-left: 0;
    }
    .audience {
        font-size: 90%;
    }
    .icon {
        cursor: pointer;
    }
    .scenario {
        font-weight: var(--ifm-font-weight-normal);
        flex-wrap: wrap;
        font-size: 90%;
        display: flex;
        gap: 0.25em;
        align-items: center;
    }
    .example {
        font-style: italic;
        font-weight: var(--ifm-font-weight-light);
        color: var(--ifm-color-emphasis-700);
        font-size: 90%;
        flex-grow: 1;
    }
}
