.datePicker {
  width: max-content;
}

.gbsl,
.fms,
.wms {
    color: var(--ifm-color-white);
}
.gbsl {
  --ifm-badge-background-color: var(--gym);
  --ifm-badge-border-color: var(--gym-border);
  --ifm-badge-color: var(--ifm-color-white);
}
.fms {
  --ifm-badge-background-color: var(--fms);
  --ifm-badge-border-color: var(--fms-border);
  --ifm-badge-color: var(--ifm-color-white);
}
.wms {
  --ifm-badge-background-color: var(--wms);
  --ifm-badge-border-color: var(--wms-border);
  --ifm-badge-color: var(--ifm-color-white);
}

// :global([data-theme='dark']) {
//   tr.eventRow {
//     --ifm-table-stripe-background: rgb(40, 40, 40);
//   }
// }
tr.eventRow {
  td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: var(--table-bg-striped);

    // max-width: 18em;
    &.kw {
      text-align: end;
    }
    &.weekday {
      &::after {
        content: ".";
      }
    }
    // see @ViewStore#EventTable for dynamic column widths
    &.description {
      max-width: min(18em, 95vw);
    }
    &.location {
      max-width: min(7em, 95vw);
    }
    &.descriptionLong {
      max-width: min(30em, 95vw);
    }
    &.classes {
      max-width: min(9em, 95vw);
    }
    &.departmentNames {
      max-width: min(11em, 95vw);
    }
  }
  &:not(.editMode) {
    td {
      // sticky columns start & time
      &:nth-child(4) {
        position: sticky;
        left: 0;
      }
      &:nth-child(5) {
        position: sticky;
        left: 5em;
      }
    }
  }
  
  &.expanded {
    td {
      // max-width: unset;
      white-space: normal;
    }
  }
}

tr:nth-child(2n) {
  --table-bg-striped: var(--ifm-color-emphasis-100);
}
tr:nth-child(2n - 1) {
  --table-bg-striped: var(--ifm-color-emphasis-0);
}
