.container {
    position: relative;
    background: var(--ifm-color-content-inverse);
    .navbar {
        height: 1em;
        .button {
            z-index: calc(var(--ifm-z-index-dropdown) + 1);
            position: absolute;
            top: 0px;
            right: 0px;
        } 

    }
    .scrollContainer {
        height: max-content;
        max-width: 100%;
        max-height: 90vh;
        overflow-x: auto;
        overflow-y: auto;
        overflow-anchor: none;
        margin: 0.5rem;
        position: relative;
        &.fullscreen {
            max-height: 98%;
        }
        .table {
            display: table;
            overflow-x: unset;
            overflow-y: unset;
            --ifm-table-cell-padding: 0.2rem;
            --ifm-table-head-background: var(--ifm-hero-background-color);
            thead {
                position: sticky;
                inset-block-start: 0;
                top: 0;
                z-index: var(--ifm-z-index-dropdown);
                th {
                    background: var(--ifm-color-content-inverse);
                    padding: 0;
                    padding-left: 0.2rem;
                    min-width: 2.5rem;
                    text-align: left;
                    
                    // sticky columns start & time
                    &:nth-child(4) {
                        position: sticky;
                        left: 0;
                    }
                    &:nth-child(5) {
                      position: sticky;
                      left: 5em;
                    }
                }
            }
            tbody {
                position: relative;
            }
        }
    }
}