.datePicker {
  width: max-content;
}

.gym {
  --ifm-badge-background-color: #008066;
  --ifm-badge-border-color: #019174;
  --ifm-badge-color: #eaeaea;
}
.fms {
  --ifm-badge-background-color: #043797;
  --ifm-badge-border-color: #002d80;
  --ifm-badge-color: #eaeaea;
}
.wms {
  --ifm-badge-background-color: #c4b403;
  --ifm-badge-border-color: #b3a402;
  --ifm-badge-color: #eaeaea;
}