.datePicker {
  width: max-content;
}

.gym {
  --ifm-badge-background-color: var(--gym);
  --ifm-badge-border-color: var(--gym-border);
  --ifm-badge-color: var(--ifm-color-white);
}
.fms {
  --ifm-badge-background-color: var(--fms);
  --ifm-badge-border-color: var(--fms-border);
  --ifm-badge-color: var(--ifm-color-white);
}
.wms {
  --ifm-badge-background-color: var(--wms);
  --ifm-badge-border-color: var(--wms-border);
  --ifm-badge-color: var(--ifm-color-white);
}