.flex {
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.duration {
    margin-left: 1.8em;
    gap: 0.25rem;
}
.eventCard {
    box-shadow: var(--ifm-global-shadow-md);
    margin-bottom: 1rem;
}
.eventBody {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-basis: 350px;
    &.splitView {
        .eventProps {
            box-shadow: var(--ifm-global-shadow-md);
            padding: 8px;
            border-radius: 8px;
        }
    }
}
.optionsBtn {
    svg {
        transition: transform 0.25s ease-in-out;
    }
    &.showOptions {
        svg {
            transform: rotate(90deg);
        }
    }
}
.options {
    display: flex;
}
.clases {
    display: flex;
    flex-wrap: wrap;
    max-width: 15em;
    gap: 0.2em;
}
.header {
    max-width: 48em;
}
.description {
    max-width: 30em;
}
.descriptionLong {
    max-width: 30em;
}
.state {
    display: flex;
    gap: 0.5em;
}

.actions {
    display: flex;
}