.flex {
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.duration {
    margin-left: 1.8em;
    gap: 0.25rem;
}
.eventCard {
    box-shadow: var(--ifm-global-shadow-md);
    margin-bottom: 1rem;
}
.eventBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-basis: 350px;
    flex-wrap: nowrap;
    &.splitView {
        .eventProps {
            box-shadow: var(--ifm-global-shadow-md);
            padding: 8px;
            border-radius: 8px;
        }
    }
    &.flex {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .parentEventDetails {
        align-self: flex-end;
    }
    .eventComparison {
        display: flex;
        gap: 0.5em;
        flex-wrap: wrap;
    }
}
.optionsBtn {
    svg {
        transition: transform 0.25s ease-in-out;
    }
    &.showOptions {
        svg {
            transform: rotate(90deg);
        }
    }
}
.options {
    display: flex;
}
.clases {
    display: flex;
    flex-wrap: wrap;
    max-width: 15em;
    gap: 0.2em;
}
.header {
    max-width: 48em;
}
.description {
    max-width: 30em;
}
.descriptionLong {
    max-width: 30em;
}
.state {
    display: flex;
    gap: 0.5em;
}

.actions {
    display: flex;
}

.author {
    display: flex;
    gap: 0.5em;
}

.metaCard {
    max-height: 90vh;
    max-width: 95vw;
    padding: 0;
    overflow: auto;
    --ifm-global-shadow-lw: var(--ifm-global-shadow-tl);
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        padding: 0.25em;
        max-width: unset;
        .spacer {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
        }
    }
    .codeblock {
        margin-bottom: 0;
    }
}
