/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inline {
    display: inline;
}
.navCardSection {
    margin: 0;
    .navCards {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        .navCard {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 10em;
            max-width: 11em;
            box-shadow: var(--ifm-global-shadow-md);
            .navCardIcon {
                margin-top: 1em;
                display: flex;
                justify-content: center;
            }
            &:hover {
                box-shadow: var(--ifm-global-shadow-ld);
                background: var(--ifm-dropdown-hover-background-color);
            }
        }
    }
}
.alert {
    margin-bottom: 1em;
    h5 {
        margin-bottom: 0.5em;
    }
    p {
        margin: 0;
    }
}

main {
    .today {
        margin-top: 0;
        margin-bottom: -1rem;
        padding: 0.5rem;
        h1:global(.hero__title) {
            font-size: 1.5rem;
        }
        .todaysEvents {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 0.5em;
            .eventOverview {
                flex-basis: 16em;
                flex-grow: 1;
                max-width: 24em;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    :global(.hero).navCardSection {
        margin: 0;
    }
}
