.badge {
    &.gbsl,
    &.fms,
    &.wms {
        color: var(--ifm-color-white);
    }
    &.gym {
        background: var(--gym);
        border-color: var(--gym);
    }
    &.fms {
        background: var(--fms);
        border-color: var(--fms);
    }
    &.wms {
        background: var(--wms);
        border-color: var(--wms);
    }
}