.main {
    --ifm-container-width-xl: 1700px;
    --ifm-tabs-padding-vertical: 0.2em;
    --ifm-tabs-padding-horizontal: 0.6em;
    .logout {
        margin-left: auto;
        margin-right: auto;
    }
}
.tabItem {
    border: 1px solid red;
}
.tabs {
    margin-left: var(--section-margin-left);
}
.tab {
    >:global(.tabs-container) {
        margin-left: var(--section-table-margin-left);
        >:global(.tabs) {
            margin-left: calc(var(--section-margin-left) - var(--section-table-margin-left));
        }
    }
}