.bulk {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: var(--ifm-global-shadow-md);
    padding: 2px 8px;
    margin-bottom: 0.5em;
    min-height: 3em;
    .stateActions {
        display: flex;
        align-items: center;
        .success {
            border-color: var(--ifm-color-success);
            color: var(--ifm-color-success);
        }
        .revoke {
            border-color: var(--ifm-color-warning);
        }
        .blue {
            border-color: var(--ifm-color-blue);
        }
    }
    .badge {
        padding-top: 0.18rem;
        padding-bottom: 0.18rem;
    }
}