.badge {
    padding: 0 0.4rem;
    margin: 0.05rem 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
    width: fit-content;
    &.soloIcon {
        padding: 0 0.04rem;
    }
    &.soloText {
        padding: calc(0.3rem - 0.5px) 0.4rem;
    }
    &.iconRight {
        padding-right: 0.2rem;
        .inlineIcon {
            margin-left: 0rem;
            padding-left: 0.2rem;
        }
        .border {
            padding-right: 0.4rem;
            border-right: 1px solid var(--ifm-color-primary);
        }
    }
    .icon {    
        transform: translateY(2%);
    }
    &.iconLeft {
        padding-left: 0.2rem;
        .inlineIcon {
            margin-right: 0rem;
            padding-right: 0.2rem;
        }
        .border {
            padding-left: 0.3rem;
            border-left: 1px solid var(--ifm-color-primary);
        }
    }
    &.disabled {
        opacity: 0.5;
        // box-shadow: 0 0 0 100px inset var(--ifm-color-disabled);
        border-color: var(--ifm-color-disabled);
    }
    &.tooltiped {
        cursor: pointer;
    }
}