.filter {
    display: flex;
    max-width: 50vw;
    flex-wrap: wrap;
    .department {
        display: flex;
        flex-wrap: wrap;
    }
    .date {
        display: flex;
        align-items: center;
    }
}