.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    flex-wrap: wrap;
    .basic {
        display: flex;
        flex-wrap: wrap;
        max-width: 50vw;
        .showAdvancedFilter {
            transition: all 0.4s ease-in-out;
            svg {
                transition: transform 0.4s ease-in-out;
            }
            &:global(.button--active) {
                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }
    .advanced {
        .department {
            display: flex;
            flex-wrap: wrap;
        }
        .date {
            display: flex;
            align-items: center;
        }
    }
}