.department {
    --ifm-table-cell-padding: 0.5rem;
    .colorData {
        padding: 0 var(--ifm-table-cell-padding);
        .color {
            cursor: pointer;
            display: flex;
            gap: 0.5rem;
            font-family: monospace;
        }
    }
    .actions {
        display: flex;
    }
    .description {
        padding: 0 var(--ifm-table-cell-padding);
    }
    .classLetters {
        width: 35em;
    }
}