.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /**
    Do not use align-items or justify-content here, 
    as it will break the scrolling of the modal content.
    instead use margin: auto on the content. 
    */
    .content {
        margin: auto;
    }
    // overflow: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .fillScreen {
        background: transparent;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .modal {
        padding-top: 2rem;
    }
}