.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /**
    Do not use align-items or justify-content here, 
    as it will break the scrolling of the modal content.
    instead use margin: auto on the content. 
    */
    // overflow: auto;
    // .content {
    //     margin: auto;
    // }

    display: flex;
    justify-content: center;
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}