.grid {
    --event-grid-template-columns:
        [day gridStart] max-content
        [description] max-content
        [startDate] max-content
        [startTime] max-content
        [endDate startEnd] max-content
        [endTime] max-content
        [location endEnd] max-content
        [departments] max-content
        [classes] max-content
        [classesEnd descriptionLong] max-content
        [actions] max-content
        [gridEnd];
    div[class*='author_'] {
        display: none;
    }
    div[class*='select_'] {
        display: none;
    }
    div[class*='kw_'] {
        display: none;
    }
    div[class*='isValid_'] {
        display: none;
    }
    div[class*='state_'] {
        display: none;
    }
    div[class*='userGroup_'] {
        display: none;
    }
}
