.table {
    .semester {
        &.dirty {
            border: 1px solid red;
        }
        .syncDate {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: flex-end;
        }
    }
}
