
.userTable {
    --ifm-table-cell-padding: 0.1em;
    td {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .trigger {
        align-self: flex-start;
    }
}
.content {
    box-shadow: var(--ifm-global-shadow-md);
    .addContainer {
        .addUsersWrapper {
            max-height: min(90vh, 35em);
            overflow: auto;
        }
    }
}
:global(.popup-content) {
    max-width: 30em;
}

@media screen and (max-width: 768px) {
    :global(.popup-content) {
        width: 90%;
    }
}