.card {
    max-height: min(90vh, calc(100vh - 4em));
    height: fit-content;
    .body {
        overflow: auto;
        flex-shrink: 1;
        flex-grow: 1;
        padding-top: 0;
    }
}

@media screen and (max-height: 900px) {
    :global(.popup-content) {
        transform: translateY(-0.5em);
    }
    .card {
        max-height: min(90vh, calc(100vh - 6em));
    }
}
