.shiftEditor {
    box-shadow: var(--ifm-global-shadow-md);
    .description {
        .draftBadge {
            display: inline-block;
            margin-right: 0.5em;
        }
    }
    &:last-child {
        margin-bottom: var(--ifm-paragraph-margin-bottom);
    }
    .editor {
        display: flex;
        gap: 1em;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        .dl {
            margin-top: 0;
        }
        .event {
            box-shadow: var(--ifm-global-shadow-md);
            flex-basis: 360px;
            flex-grow: 1.5;
            .highlighted {
                background-color: #feeb5c;
                color: black;
            }
            dd.highlighted:first-of-type {
                border-top-right-radius: 8px;
            }
            dt.highlighted:first-of-type {
                border-top-left-radius: 8px;
            }
        }
        .actions {
            flex-basis: 180px;
            flex-grow: 1;
            .dates {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            .hours {
                display: flex;
            }
        }
    }
}
