dl.definitionList {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0.6rem;
    grid-row-gap: 0.5rem;
    > * {
        padding: 1px;
        padding-top: 0.5em;
    }
    dt {
        padding-top: 0.5em;
        flex-basis: 170px;
        flex-shrink: 0;
        flex-grow: 1;
        font-weight: bold;
        text-align:right;
        min-height: 1px;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        justify-content: end;
        align-items: start;
        &:last-of-type {
            padding-bottom: 0.2em;
        }
        // > span {
        //     width: fit-content;
        // }
    }
    dd {
        overflow-x: auto;
        flex-basis: 340px;
        flex-shrink: 0;
        flex-grow: 2;
        padding-left:1em;
        margin-left: 0px;
        overflow-y: hidden;
        &:last-of-type {
            padding-bottom: 0.2em;
        }
    }
    dd + dd {
        width: 100%;
        padding-left: calc(30% + 1em);
        padding-top:4px;
    }
    dt + dt {
        padding-right: 60%;
    }
    dt + dt + dd {
        margin-top: -1.625em; /* own height including padding */
        padding-left: calc(30% + 1em);
    }
    
    dd p, dd ul, dd ol {
        line-height: inherit;
    }
}

@media screen and (max-width: 620px) {
    dl.definitionList {    
        grid-template-columns: 1fr;
        dt {        
            justify-content: left;
        }
    }
}