dl.definitionList {
    display: grid;
    grid-template-columns: minmax(8em, 1fr) minmax(10em, 2fr);
    grid-auto-flow: row;
    margin-bottom: 1rem;
    dt {
        grid-column: 1;
        font-weight: bold;
        text-align: right;
        min-height: 1px;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 0.4rem;
        padding-right: 0.6rem;
        &:last-of-type {
            padding-bottom: 0;
        }
    }
    dt:global(.line) {
        grid-column: 1 / span 2;
        border-bottom: 1px solid var(--ifm-color-primary);
    }
    dd {
        grid-column: 2;
        overflow-x: auto;
        margin-left: 0px;
        overflow-y: hidden;
        display: inline-table;
        padding-left: 0.6rem;
        padding-bottom: 0.4rem;
    }
    dd + dd {
        margin-top: -0.4em;
    }
    &.slim {
        grid-template-columns: 1fr;
        dt {
            justify-content: left;
        }
        dd {
            grid-column: 1;
            margin-left: 1.5rem;
            display: block;
        }
    }
}

@media screen and (max-width: 620px) {
    dl.definitionList:not(.ignoreMediaQueries) {
        grid-template-columns: 1fr;
        dt {
            justify-content: left;
        }
        dd {
            grid-column: 1;
            margin-left: 1.5rem;
            display: block;
        }
    }
}
