.labeledBox {
    --events-boxed-color: var(--ifm-color-blue);
    width: 100%;
    .header {
        display: flex;
        gap: 1em;
        .label {
            transform: translateY(1px);
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .actions {
            flex-grow: 1;
            flex-wrap: wrap;
            display: flex;
            gap: 0.25em;
            justify-content: flex-end;
        }
    }
    .content {
        border: 1px solid var(--events-boxed-color);
        border-left-width: 4px;
        border-radius: var(--ifm-global-radius);
        border-top-left-radius: 0;
    }
}
